<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboards - Pentest Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <header>
            <h1>📊 Dashboards de Análisis</h1>
            <div class="user-info">
                <span>Sesión: <strong>{{ username }}</strong></span>
                <a href="{{ url_for('index') }}">← Volver</a>
            </div>
        </header>

        <div class="output-box">
            <h3>🛡️ Tipos de Ataque </h3>
            <iframe 
                src="http://localhost:3000/d-solo/0f14bba5-c624-42b2-8af5-642b5a8850ee/tipos-de-ataque?orgId=1&from=now-1h&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo" 
                width="100%" 
                height="250" 
                frameborder="0">
            </iframe>
        </div>

        <div class="output-box">
            <h3>🔍 Puertos Detectados</h3>
            <iframe 
                src="http://localhost:3000/d-solo/481e3157-bac5-469b-a793-56ea940848cb/puertos-detectados-por-nmap?orgId=1&from=now-1h&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo" 
                width="100%" 
                height="250" 
                frameborder="0">
            </iframe>
        </div>

	<div class="output-box">
    	    <h3>📈 Historial de IPs Atacadas</h3>
       	    <iframe
		src="http://localhost:3000/d-solo/8ea2155e-e6a5-433d-8782-3f8272dad15b/historial-de-ips-atacadas?orgId=1&from=1749368617696&to=1749390217696&timezone=browser&panelId=1&__feature.dashboardSceneSolo" 
		width="100%" 
		height="250" 
		frameborder="0">
	    </iframe>
	</div>


        <div style="text-align:center;">
            <a href="{{ url_for('download_passwords') }}" class="btn-download">
                📥 Descargar Contraseñas (solo admin)
            </a>
        </div>
    </main>
</body>
</html>
